:root {
    --primary-color: #cc0001;
    --secondary-color: #f6f7f8;
    --background-color: rgb(204, 0, 1, 0.2);
    --font-color: #011627;
}

table {
    font-size: 1em;
    text-align: center;
    text-wrap: wrap;
    border-collapse: collapse;
}
tr,
th,
td {
    width: 10%;
}

.bg-img {
    padding-top: 5%;
    position: fixed;
    top: -15%;
    left: 25%;
    z-index: -50 !important;
}

.bg-img img {
    opacity: 75%;
    width: 150%;
    filter: blur(3px);
}

.content {
    padding-top: 20% !important;
    width: 75%;
    z-index: 4 !important ;
    align-items: center !important;
    justify-content: center !important;
}

.my-nav ul {
    box-shadow: 0px -25px 50px 20px var(--font-color);
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: var(--primary-color);
}

.my-nav ul li {
    float: left;
}

.my-nav ul li a {
    display: block;
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.15s ease-in;
}
.active {
    font-family: "Sofia", cursive !important;
    font-weight: bold;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    transition: 0.15s ease-in;
}

.active:hover {
    background-color: var(--background-color) !important;
    color: var(--secondary-color) !important;
    border: 0;
}

.my-nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    width: 75%;
    text-align: center;
}

.title {
    color: grey;
    font-size: 1em;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    * {
        font-size: 0.85em;
    }

    table {
        font-size: 2.5em !important;
        font-weight: bold;
        text-wrap: wrap;
        width: 120% !important;
        align-self: center;
        justify-self: center;
    }

    table tbody tr td div a {
        width: 100% !important;
    }

    th,
    tr,
    td {
        width: 10%;
    }

    button,
    a {
        width: 100% !important;
        height: 5%;
        font-size: 1em !important;
        font-weight: bold;
    }

    .card {
        width: 110% !important;
        margin-top: 25%;
        max-width: 500px !important;
        font-size: 1.2em !important;
        justify-self: center;
    }

    .card div a {
        width: 100% !important;
        font-size: 0.8em !important;
    }

    .bg-img {
        padding-top: 5%;
        position: fixed;
        top: 0%;
        left: -50%;
        z-index: -50 !important;
    }
    input {
        width: 50% !important;
        height: 0.5% !important;
        font-size: 0.8em;
    }

    form div input {
        height: 100% !important;
        width: 100% !important;
        font-size: 0.8em;
    }
    form div button {
        height: 100%;
        width: 40%;
    }

    .topTable {
        width: 50% !important;
    }

    td input {
        width: 100% !important;
    }

    .my-nav ul {
        height: 5% !important;
    }
    .my-nav ul li a {
        height: 100% !important;
        font-weight: bold !important;
        font-size: 1em !important;
    }
    h1 a {
        font-size: 0.37em !important;
        width: 45% !important;
        height: 3% !important;
    }
}
