<%- include('layout/header.ejs') %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <div class="content">
            <h1>hr صباح الخير عزيزي ال</h1>
            <h3>انك تمسح احسن من انك تعدل</h3>
            <h3>لو فيه حاجة علقت معاك اعمل ريستارت على طول</h3>
        </div>
    </body>
</html>
